<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="h.tenia.humansmokingcapacity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mainmenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Konsultasi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tentang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Hasil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".accountcreation.Inputgejala"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gejala"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Penyakit1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Penyakit2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Penyakit3"
            android:screenOrientation="portrait" />
        <activity android:name=".Penyakit4" />
        <activity android:name=".Penyakit5" />
        <activity android:name=".Penyakit6" />
        <activity android:name=".Penyakit7" />
        <activity android:name=".Penyakit8" />
        <activity android:name=".Penyakit9" />
        <activity android:name=".Penyakit10" />
        <activity android:name=".Penyakit11" />
        <activity android:name=".Penyakit12"></activity>
    </application>

</manifest>